extends layout

block content
    h1 #{title}
    form(action="", method="POST") 
        label(for='text') text:
            input(type="text",name="text" required="true" style="width:97vw")
        button(type="submit", style="margin-top:5px") SEND
    button(onclick="window.location.href='/'", style="margin-top:5px") back